.nav-tabs-add li{
    position: relative;
    margin-right: 2px;
}
.nav-tabs-add>li>a{
    text-decoration: none;
    background-color: #eee;
}
.nav-tabs-add li span.glyphicon-remove{
    position: absolute;
    width: 20px;
    height: 20px;
    border: 1px solid #999;
    text-align: center;
    line-height: 18px;
    top: 50%;
    margin-top: -10px;
    right: 9px;
    border-radius: 50%;
    opacity: 0.6;
    cursor: pointer;
}
.nav-tabs-add li span.glyphicon-remove:hover{
    color: #ff0000;
}
.more-tab{
    padding-right: 35px!important;
}
.tab-content{
    padding: 15px;
    border: 1px solid #ddd;
    border-top: 1px solid transparent;
}
.tooltip-inner{white-space: nowrap;}